    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Nunito', sans-serif;
    }

    .card {
      min-height: 100%;
      margin: 10px auto;
      float: none;
      margin-bottom: 10px;
    }

    footer {
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
      background-color: #343A40;
      color: #f9dc5c;
      /*background-color: #ffc107;*/
    }

    .alignleft{
      float: left;
    }

    .alignright{
      float: right;
    }

    #first-button, #view-button, #send-button {
      background-color: #f9dc5c; 
      color: black;
      transition: 0.3s; 
    }

    #first-button:hover, #view-button:hover, #send-button:hover {
      background-color: #AAAA00;
      color: white;
    }

    #message {
      /*min-height: 285px;*/
      min-height: 202px;
      padding: 8px 12px;
      box-sizing: border-box;
      resize: none;

    }

    #send-button {
      font-family: 'Nunito', sans-serif;
    }

    #icon {
      color: #f9dc5c;
    }

.carousel-inner img {
  top: 0;
  left: 0;
  height: auto;
  object-fit: cover !important;
  display: block;
}

/*
    @media screen and (max-width: 400px)
    {    
      #footer-text {
        font-size: 10px;
      }
    }
*/